{% extends "home/../base.html" %}
{% block title %}イベント編集{% endblock %}
{% block content1 %}
{% load widget_tweaks %}
    <h1>イベント編集</h1>

    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>
                    名称
                </th>
                <td>
                   {{form.event.name}}
                </td>
            </tr>
            <tr>
                <th>
                    実施日
                </th>
                <td>
                   {{form.event.event_date|date:"Y-m-d"}}
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary">編集する</button>
    </div>


{% endblock %}